{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boilers</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>


<body>

    <header>
         <h1>Boilers.com</h1>
         <nav>
             <ul>
{#                 {% for item in head_items %}#}
{#                 <li><a href="#">{{ item }}</a></li>#}
                <li><a href="{% url 'about' %}">about</a></li>
                 <li><a href="{% url 'goods' %}">goods</a></li>
                 <li><a href="{% url 'contact' %}">contacts</a></li>
                 <li><a href="{% url 'info' %}">info</a></li>
{#                 <li><a href="#">contact</a></li>#}
{#                 {% endfor %}#}
             </ul>
         </nav>

    </header>

    <main>
        <img class = "pac2" src="{% static 'images/pac2.jpg' %}" alt="2PAC">

        {% if data.age > 18 %}
        <h2 class = "age">{{ data.age }}</h2>
        {% endif %}


        <form method="POST" novalidate>
            {% csrf_token %}
            <div class = "form-group">
                {% for field in form %}
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <div class = "errors">{{ field.errors }}</div>
                {% endfor %}
            </div>
{#            <table>#}
{#            {{ form.as_table }}#}
{#            </table>#}
            <input type="submit" value="Отправить">
        </form>



    </main>






</body>
</html>