{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boilers</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>


<body>

    <header>
         <h1>Boilers.com</h1>
         <nav>
             <ul>
                 <li><a href="#">info</a></li>
                 <li><a href="#">about</a></li>
                 <li><a href="#">goods</a></li>
                 <li><a href="#">contact</a></li>
             </ul>
         </nav>

    </header>

    <main>
        <img class = "pac2" src="{% static 'images/pac2.jpg' %}" alt="2PAC">
        <h2>{{ age }}</h2>
    </main>




</body>
</html>